body{
    margin:0;
    padding: 0;
}

.nav{
    background: #2699FB;
    color: white;
    padding: 15px;
    font-family: sans-serif;
    font-size: 4vw;

}

.nav h1{
    text-align: center;
    font-weight: 100;
}

.container{
    display: flex;
    flex-flow: column;
}

#firstContainer, #secondContainer, #thirdContainer{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    font-size: 12vw;
}

.incomplete{
    color: grey;
}

.complete{
  animation: spin .5s 1;
}

.fa-check{
    width: 45%;
    text-align: right;
}
#first, #second, #third{
    width: 55%;
}

.fas{
    text-align: center;
}

@keyframes spin {
  0% {
    font-size: 1vw;
    transform: rotate(0deg);
  }
  50% {
    font-size: 4vw;
    transform: rotate(180deg);
  }
  100% {
    font-size: 12vw;
    transform: rotate(360deg);
  }
}
